
@font-face {
  font-family: 'PFDinTextCompPro-Medium';
  src: url('PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCompPro-Medium.woff') format('woff'), url('PFDinTextCompPro-Medium.ttf')  format('truetype'), url('PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
